.markdown-section blockquote {
    border-left: 4px solid var(--theme-color,#42b98350);
}

article h1,h2,h3,h4,h5,h6{
    transition-property: background;
    transition-duration: .3s;
}
article>h1{
    border-left: 4px solid #FF4081C0;
    padding-left: 15px;
    margin: 2rem 0 1rem !important;
}
article>h1:first-child{
    border-left: 0;
    padding-left: 0px;
    font-size: 46px;
    margin-bottom: 30px;
}

.sidebar li{
    margin: 0;
}

.sidebar ul:first-child{
    margin: 0 0 0 0px;
}

.sidebar-nav a:not(.app-sub-sidebar a){
    transition-property: background;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    padding: 4px 0 4px 20px;
}
.sidebar-nav a:not(.app-sub-sidebar a):hover{
    background: rgba(0,0,0,.07) !important;
}
.sidebar-nav li.active>a:not(.app-sub-sidebar a):first-child{
    background: rgba(0,0,0,.07) !important;
}

.app-sub-sidebar li{
    transition-property: background;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    padding-left: 20px;
}
.app-sub-sidebar li>a{
    padding: 4px 0;
}
.app-sub-sidebar li:hover{
    background: rgba(0,0,0,.07) !important;
}
.app-sub-sidebar li.active{
    background: rgba(0,0,0,.07) !important;
}
h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
    background: #00000007;
}
img:hover {  
    transform: scale(1.02);  
    transition: all 0.5s ease 0s;
}
.book-summary ul.summary li.active>a {
    color: #FF4081;
    background: #00000009;
    border-left: 4px solid;
}
.book .book-summary .exc-trigger {
    left: 9px;
    top: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
}
.book .book-summary .exc-trigger:hover {
    font-weight: bold;
    color: #FF4081;
}
.sidebar ul li.active>a {
    border-right: 0px;
}
#scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 0px;
    background: #00000007;
    cursor: default;
    text-align: center;
    display: none;
}
#scroll-to-top:hover{
    background: var(--theme-color,#42b983);
    color: #FFFFFF;
}
.app-sub-sidebar li:before {
    content: "-";
    padding-top: 3px;
    padding-right: 3px;
    float: left;
    color: var(--theme-color,#42b983);
    margin-left: -8px;
}
strong {
    color: #ff6565 !important;
}
.katex .katex-html {
    text-align: left;
    font-size: initial;
    line-height: 28px;
    font-family: 'KaTeX_Main';
}
.markdown-section h5 {
    font-size: 1.1rem;
}
.ms-beauty-font {
    font-family: SegoeUI-SemiBold,Helvetica,Arial,sans-serif;
    /* font-size: 57px;
    line-height: 74px; */
    background: -webkit-linear-gradient(353.97deg,#D83B01 -9.63%,#8F5AD4 29.04%,#0860C7 101.1%);
    background: oldlinear-gradient(353.97deg,#D83B01 -9.63%,#8F5AD4 29.04%,#0860C7 101.1%) -moz-;
    background: -o-linear-gradient(353.97deg,#D83B01 -9.63%,#8F5AD4 29.04%,#0860C7 101.1%);
    background: linear-gradient(96.03deg,#D83B01 -9.63%,#8F5AD4 29.04%,#0860C7 101.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
}

.alert.flat.note {
    color: #02587f !important;
    background-color: #cdeefdA0 !important;
    border-color: #b4e6fc00 !important;
}

.alert.flat.tip {
    color: #285b2a !important;
    background-color: #dbefdcA0 !important;
    border-color: #c9e7cb00 !important;
}

.alert.flat.result {
    background-color: #f8f8f8 !important;
    border-color: #ffffff1c !important;
}

.alert.flat.result .icon-result {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20t%3D%221715328432116%22%20class%3D%22icon%22%20viewBox%3D%220%200%201024%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%2211609%22%3E%3Cpath%20d%3D%22M249.60000004%20492.8L249.60000004%20185.6l428.8%20307.2-428.8%20300.8z%22%20fill%3D%22%230078F6%22%20p-id%3D%2211610%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M495.52050777%20497.16845704L495.52050777%20259.86376954l331.23779296%20237.30468749-331.23779296%20232.36083985z%22%20fill%3D%22%2305D3F8%22%20p-id%3D%2211611%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E")
}

.alert.flat.result .title {
    color: #0078f6;
    font-style: italic;
    font-weight: bold;
}