.markdown-section blockquote {
    border-left: 4px solid var(--theme-color,#42b98350);
}

article h1,h2,h3,h4,h5,h6{
    transition-property: background;
    transition-duration: .3s;
}
article>h1{
    border-left: 4px solid #FF4081C0;
    padding-left: 15px;
    margin: 2rem 0 1rem !important;
}
article>h1:first-child{
    border-left: 0;
    padding-left: 0px;
    font-size: 46px;
    margin-bottom: 30px;
}

.sidebar li{
    margin: 0;
}

.sidebar ul:first-child{
    margin: 0 0 0 0px;
}

.sidebar-nav a:not(.app-sub-sidebar a){
    transition-property: background;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    padding: 4px 0 4px 20px;
}
.sidebar-nav a:not(.app-sub-sidebar a):hover{
    background: rgba(0,0,0,.07) !important;
}
.sidebar-nav li.active>a:not(.app-sub-sidebar a):first-child{
    background: rgba(0,0,0,.07) !important;
}

.app-sub-sidebar li{
    transition-property: background;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    padding-left: 20px;
}
.app-sub-sidebar li>a{
    padding: 4px 0;
}
.app-sub-sidebar li:hover{
    background: rgba(0,0,0,.07) !important;
}
.app-sub-sidebar li.active{
    background: rgba(0,0,0,.07) !important;
}
h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
    background: #00000007;
}
img:hover {  
    transform: scale(1.02);  
    transition: all 0.5s ease 0s;
}
.book-summary ul.summary li.active>a {
    color: #FF4081;
    background: #00000009;
    border-left: 4px solid;
}
.book .book-summary .exc-trigger {
    left: 9px;
    top: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 2px;
}
.book .book-summary .exc-trigger:hover {
    font-weight: bold;
    color: #FF4081;
}
#scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 0px;
    background: #00000007;
    cursor: default;
    text-align: center;
    display: none;
}
#scroll-to-top:hover{
    background: var(--theme-color,#42b983);
    color: #FFFFFF;
}